In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("../public/datasets/hdb/hdb_available.csv")
df.head()

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,LATITUDE,LONGITUDE,address,town,flat_type,resale_price
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,1.36200,103.85388,406 ANG MO KIO AVE 10,ANG MO KIO,2 ROOM,251558.528
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,1.37097,103.83820,108 ANG MO KIO AVE 4,ANG MO KIO,3 ROOM,271076.000
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,1.38071,103.83537,602 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,284087.648
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,1.36620,103.85720,465 ANG MO KIO AVE 10,ANG MO KIO,3 ROOM,287340.560
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,1.38104,103.83513,601 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,287340.560

In [12]:
df['bus'] = (np.log(df["bus_within_0.5"]) +1) / 2.772588722239781
df.head()

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,LATITUDE,LONGITUDE,address,town,flat_type,resale_price,bus
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,1.36200,103.85388,406 ANG MO KIO AVE 10,ANG MO KIO,2 ROOM,251558.528,1.285784
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,1.37097,103.83820,108 ANG MO KIO AVE 4,ANG MO KIO,3 ROOM,271076.000,1.225532
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,1.38071,103.83537,602 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,284087.648,1.285784
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,1.36620,103.85720,465 ANG MO KIO AVE 10,ANG MO KIO,3 ROOM,287340.560,1.191156
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,1.38104,103.83513,601 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,287340.560,1.225532

In [13]:
df['school'] = (np.log(df["school_within_2.0"]) +1) / 2.833213344056216
df.head()

/Users/wilson/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:396: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,LATITUDE,LONGITUDE,address,town,flat_type,resale_price,bus,school
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,1.36200,103.85388,406 ANG MO KIO AVE 10,ANG MO KIO,2 ROOM,251558.528,1.285784,1.427539
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,1.37097,103.83820,108 ANG MO KIO AVE 4,ANG MO KIO,3 ROOM,271076.000,1.225532,1.373131
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,1.38071,103.83537,602 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,284087.648,1.285784,1.199308
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,1.36620,103.85720,465 ANG MO KIO AVE 10,ANG MO KIO,3 ROOM,287340.560,1.191156,1.331558
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,1.38104,103.83513,601 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,287340.560,1.225532,1.199308

In [14]:
df['mall'] = (np.log(df["mall_within_2.0"]) +1) / 1.791759469228055
df.head()

/Users/wilson/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:396: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,LATITUDE,LONGITUDE,address,town,flat_type,resale_price,bus,school,mall
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,1.36200,103.85388,406 ANG MO KIO AVE 10,ANG MO KIO,2 ROOM,251558.528,1.285784,1.427539,1.558111
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,1.37097,103.83820,108 ANG MO KIO AVE 4,ANG MO KIO,3 ROOM,271076.000,1.225532,1.373131,1.331816
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,1.38071,103.83537,602 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,284087.648,1.285784,1.199308,1.171258
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,1.36620,103.85720,465 ANG MO KIO AVE 10,ANG MO KIO,3 ROOM,287340.560,1.191156,1.331558,1.331816
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,1.38104,103.83513,601 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,287340.560,1.225532,1.199308,1.171258

In [15]:
df['supermarket'] = (np.log(df["supermarket_within_0.5"]) +1) / 1.0986122886681098
df.head()

/Users/wilson/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:396: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,LATITUDE,LONGITUDE,address,town,flat_type,resale_price,bus,school,mall,supermarket
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,1.36200,103.85388,406 ANG MO KIO AVE 10,ANG MO KIO,2 ROOM,251558.528,1.285784,1.427539,1.558111,0.910239
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,1.37097,103.83820,108 ANG MO KIO AVE 4,ANG MO KIO,3 ROOM,271076.000,1.225532,1.373131,1.331816,1.541169
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,1.38071,103.83537,602 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,284087.648,1.285784,1.199308,1.171258,-inf
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,1.36620,103.85720,465 ANG MO KIO AVE 10,ANG MO KIO,3 ROOM,287340.560,1.191156,1.331558,1.331816,0.910239
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,1.38104,103.83513,601 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,287340.560,1.225532,1.199308,1.171258,-inf

In [16]:
df['cbd'] = 2.6561072220310518 - (np.log(df["cbd_distance"]) +1)
df.head()

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,...,LONGITUDE,address,town,flat_type,resale_price,bus,school,mall,supermarket,cbd
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,...,103.85388,406 ANG MO KIO AVE 10,ANG MO KIO,2 ROOM,251558.528,1.285784,1.427539,1.558111,0.910239,-0.498502
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,...,103.83820,108 ANG MO KIO AVE 4,ANG MO KIO,3 ROOM,271076.000,1.225532,1.373131,1.331816,1.541169,-0.619218
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,...,103.83537,602 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,284087.648,1.285784,1.199308,1.171258,-inf,-0.727622
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,...,103.85720,465 ANG MO KIO AVE 10,ANG MO KIO,3 ROOM,287340.560,1.191156,1.331558,1.331816,0.910239,-0.552742
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,...,103.83513,601 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,287340.560,1.225532,1.199308,1.171258,-inf,-0.731368

In [17]:
df['hawker'] = 0.4868281744936002 - (np.log(df["hawker_distance"]) +1)
df.head()

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,...,address,town,flat_type,resale_price,bus,school,mall,supermarket,cbd,hawker
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,...,406 ANG MO KIO AVE 10,ANG MO KIO,2 ROOM,251558.528,1.285784,1.427539,1.558111,0.910239,-0.498502,1.168127
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,...,108 ANG MO KIO AVE 4,ANG MO KIO,3 ROOM,271076.000,1.225532,1.373131,1.331816,1.541169,-0.619218,0.389524
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,...,602 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,284087.648,1.285784,1.199308,1.171258,-inf,-0.727622,0.010417
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,...,465 ANG MO KIO AVE 10,ANG MO KIO,3 ROOM,287340.560,1.191156,1.331558,1.331816,0.910239,-0.552742,0.895376
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,...,601 ANG MO KIO AVE 5,ANG MO KIO,3 ROOM,287340.560,1.225532,1.199308,1.171258,-inf,-0.731368,-0.031389

In [18]:
df['park'] = 0.5096731599345877 - (np.log(df["park_distance"]) +1)
df.head()

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,...,town,flat_type,resale_price,bus,school,mall,supermarket,cbd,hawker,park
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,...,ANG MO KIO,2 ROOM,251558.528,1.285784,1.427539,1.558111,0.910239,-0.498502,1.168127,-0.088063
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,...,ANG MO KIO,3 ROOM,271076.000,1.225532,1.373131,1.331816,1.541169,-0.619218,0.389524,0.915428
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,...,ANG MO KIO,3 ROOM,284087.648,1.285784,1.199308,1.171258,-inf,-0.727622,0.010417,1.535021
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,...,ANG MO KIO,3 ROOM,287340.560,1.191156,1.331558,1.331816,0.910239,-0.552742,0.895376,0.387659
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,...,ANG MO KIO,3 ROOM,287340.560,1.225532,1.199308,1.171258,-inf,-0.731368,-0.031389,1.398085

In [19]:
df['mrtlrt'] = 0.4227980215034163 - (np.log(df["mrtlrt_distance"]) +1)
df.head()

,floor_area_sqm,remaining_lease,bus_within_0.5,cbd_distance,hawker_distance,mall_within_2.0,mrtlrt_distance,park_distance,school_within_2.0,supermarket_within_0.5,...,flat_type,resale_price,bus,school,mall,supermarket,cbd,hawker,park,mrtlrt
0,44.0,61,13,8.624521,0.186132,6,0.998376,0.668804,21,1,...,2 ROOM,251558.528,1.285784,1.427539,1.558111,0.910239,-0.498502,1.168127,-0.088063,-0.575577
1,67.0,60,11,9.731086,0.405475,4,0.201155,0.245182,18,2,...,3 ROOM,271076.000,1.225532,1.373131,1.331816,1.541169,-0.619218,0.389524,0.915428,1.026478
2,67.0,62,13,10.845276,0.592391,3,0.479439,0.131948,11,0,...,3 ROOM,284087.648,1.285784,1.199308,1.171258,-inf,-0.727622,0.010417,1.535021,0.157937
3,68.0,62,10,9.105234,0.244498,4,0.940315,0.415619,16,1,...,3 ROOM,287340.560,1.191156,1.331558,1.331816,0.910239,-0.552742,0.895376,0.387659,-0.515662
4,67.0,62,11,10.885977,0.617681,3,0.450898,0.151312,11,0,...,3 ROOM,287340.560,1.225532,1.199308,1.171258,-inf,-0.731368,-0.031389,1.398085,0.219312